//Menu Button
.menu-btn {
  position: absolute;
  z-index: 10;
  right: 35px;
  top: 25px;
  cursor: pointer;
  @include easeOut;
  background: $header-footer-bg;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }

  //Menu Lines Into X shape
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //Line 1- Rotate & Change Color
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
        background: $secondary-color;
      }

      //Line 2- Hide
      &:nth-child(2) {
        opacity: 0;
      }

      //Line 3- Rotate & Change Color
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
        background: $secondary-color;
      }
    }
  }
}

.menu {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  &-nav {
    display: flex;
    background: $header-footer-bg;
    align-content: space-between;
    justify-content: flex-end;

    text-align: start;
    margin: 0;
    list-style: none;
  }

  .nav-item {
    padding: 0 15px;
    a {
      color: #fff;
    }
    &.current > a {
      color: $secondary-color;
    }
    .active {
      visibility: visible;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    font-weight: 300;
    color: $third-color;
    text-decoration: none;
    color: set-text-color($primary-color);
    text-decoration: none;

    &:hover {
      color: $secondary-color;
    }
  }
}
