@include mediaXl {
  .menu-btn {
    visibility: hidden;
  }
}

@include mediaLg {
  h1,
  h2,
  h3 {
    &.lg-heading-2 {
      font-size: 4rem;
    }
    &.md-heading {
      font-size: 4rem;
      font-weight: bold;

      line-height: 5rem;
      text-shadow: #000 5px 5px 2px;
    }
  }
  .menu-btn {
    visibility: hidden;
  }
  main {
    &#main-grid {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

      grid-template-areas:
        '. .'
        'myName heading'
        'description description'
        '. .'
        'footer footer';
      .name {
        grid-area: myName;
        //transform: scale(0.9, 1.3);
        padding: 6.5rem;
      }
    }
    .heading {
      grid-area: heading;
    }
    .description {
      grid-area: description;
      grid-template-areas:
        'bio-image'
        'about'
        'contact'
        'projects';
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      .bio-image {
        grid-area: bio-image;
      }
      .about-info {
        grid-area: about;
      }
      .contact {
        grid-area: contact;
      }
      .projects {
        grid-area: projects;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      }
    }
    .footer {
      grid-area: footer;
    }
  }
}

// Tablets / Small Laptops
@include mediaMd {
  h1,
  h2,
  h3 {
    &.lg-heading-2 {
      font-size: 3rem;
      text-align: center;
      //writing-mode: horizontal-tb;
    }
    &.md-heading {
      font-size: 3rem;
      font-weight: bold;

      line-height: 3rem;
      text-shadow: #000 5px 5px 2px;
    }
  }

  .menu {
    .nav-link {
      font-size: 1rem;
      padding: 0;
    }
  }

  main {
    &#main-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      grid-template-areas:
        '. .'
        'myName heading'
        'myName heading'
        'description description'
        '. .'
        'footer footer';
      .name {
        grid-area: myName;
        transform: scale(1, 1);
      }

      .heading {
        grid-area: heading;
      }
      .description {
        grid-area: description;
        padding: 0.5rem;
        text-align: center;
        grid-template-areas:
          'bio-image'
          'about'
          'contact'
          'projects';

        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .bio-image {
          grid-area: bio-image;
          text-align: center;
          padding: 1rem 0rem;
          & > img {
            width: 75%;
          }
        }
        .about-info {
          grid-area: about;
          & > h2 {
            text-align: center;
          }
        }
        .icons > a {
          padding: 1.5rem;
        }
        .projects {
          grid-area: projects;

          grid-template-columns: 75vw;
          text-align: center;
          & > h2 {
            text-align: center;
          }
          & > ul > li > figure {
            padding: 0;
          }
        }
      }
    }
    .footer {
      grid-area: footer;
    }
  }
}

//Phones & Small Tablets
@include mediaSm {
  h1,
  h2,
  h3 {
    &.lg-heading-2 {
      font-size: 4rem;
      text-align: center;
      writing-mode: horizontal-tb;
      line-height: 4rem;
      text-align: center;
    }
    &.md-heading {
      font-size: 3rem;
      font-weight: bold;

      line-height: 3rem;
      text-shadow: #000 5px 5px 2px;
    }

    &.lg-title {
      text-align: center;
      line-height: 3rem;
    }
  }
  .menu-btn {
    visibility: visible;
  }
  main {
    &#main-grid {
      grid-template-areas:
        'menu'
        'myName '
        'heading'
        'description'
        '.'
        'footer';

      .name {
        grid-area: myName;
        padding: 0;
        z-index: 4;
      }

      .description {
        .icons > a {
          padding: 1rem;
        }
      }
      .menu {
        z-index: 5;
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.9;
        visibility: hidden;

        &.show {
          visibility: visible;
        }

        &-nav {
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          justify-content: center;
          text-align: center;
          float: right;
          width: 70%;
          height: 100vh;
          overflow: hidden;

          //Start From Right
          transform: translate3d(100%, 0, 0);
          margin: 0;
          padding: 0;
          background: darken($primary-color, 5);
          list-style: none;

          @include easeOut;

          &.show {
            //Slide In From Right To Center
            transform: translate3d(0, 0, 0);
          }
        }

        .nav-item {
          transform: translate3d(600px, 0, 0);
          @include easeOut;

          &.show {
            // Slide In From Right To Center
            transform: translate3d(0, 0, 0);
          }

          &.current > a {
            color: $secondary-color;
          }
        }

        .nav-link {
          display: inline-block;
          position: relative;
          font-size: 1.5rem;
          text-transform: uppercase;
          padding: 1rem;
          font-weight: 300;
          color: set-text-color($primary-color);
          text-decoration: none;

          @include easeOut;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
